


<%  if(session.cart){  %>

<section class='bg-green-50 '>
    <div class="container mx-auto flex flex-col justify-center">
<div class="order_cart pt-40 pb-7">
    <h1 class='font-bold text-xl ' >
        <i class="fas fa-shopping-cart px-5 text-blue-500" ></i>
        Order summary
    </h1>
</div>
<hr class='py-10'>

<!--Order cart-->

<% for(let totaltemp of Object.values(session.cart.items)) { %>

<div class=" py-10 px-5 flex items-center justify-between w-full">
    <div class="flex  items-center">
    <img src="<%-totaltemp.item.image%>" class='h-24 mx-4 rounded-full'>
        <h1 class='font-bold text-xl'><%-totaltemp.item.name%></h1>
        
</div>
<em><%-totaltemp.qty%></em>    
  <h4 class="font-bold text-xl"> &#8377 <%-totaltemp.item.price * totaltemp.qty %></h4>

</div>


<% }; %>

<hr class='pb-10'>
<div class=" flex  flex-col items-end gap-4"> 
    <div class="flex c">
        <h1 class="font-blod ">Total Amount :</h1>
        <span class=" text-green-400 font-bold text-2xl pl-4">
            &#8377 <%-session.cart.totalPrice%>
        </span>
    </div>
  
    <form class="flex  flex-col items-end gap-4 ">
        <input type="email" class=" py-4 px-6 w-96 border-none outline-none" placeholder="Eerter Your Email ">
       <!-- <button class="py-2 px-6  mb-8 bg-blue-500 w-60 rounded-full font-bold text-xl text-white text-center" type="submit">Order Now</button>
     -->
    </form>
    <a href="/login" class=" py-2 px-6  mb-8 bg-blue-500 w-60 rounded-full font-bold text-xl text-white text-center">
        Login Now
        </a>
</div>
    </div>
</section>


<% }else{ %>
<!-- Empty cart-->
<section class='h-screen py-10 bg-green-50'>
    <div class="container  text-center mx-auto">
       
            <h1 class='text-x3 font-bold mb-2 '>Crat </h1>
            <p class='mb-10'>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Dolore veritatis illo aperiam nihil.</p>
    
    <div class="cart_img relative h-screen py-10">
        <img src="/img/hero/undraw_empty_xct9.svg" class="w-2/5 mx-auto">
    
        <a href="/" class='inline-block px-6 py-4 bg-green-400 rounded-lg font-bold text-xl text-white'>Go Back </a>
    </div>    
    </div>
    </section>


<%   }  %>